#parent{
    border: 1px solid ;
    border: none;
    height: 20px;
    width: 120px;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    border-radius: 25px;
    background-color: #565cc458;
    margin-top: 50px;
    margin-left: 100px;
}
.box1{
    border: 1px solid #4046a17e;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: -15px;
    text-align: center;
    /* background-color: #4047a1; */
    color: #ffffff;
    background-color: #ffffff;

}
.box2{
    border: 1px solid #4046a17e;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: -15px;
    margin-left: 20px;
    background-color: #ffffff;
}
.no{
    margin-top: 10px;
    color: #a9a9d4;
    
}
.no1{
    margin-top: 10px;
    margin-left: 20px;
    color: #a9a9d4;
    /* background-color: #ffe4c4; */
    border-radius: 50px;

    
}
.box1:hover{
    background-color: #4047a1;
}
/* .box1:active{
    background-color: rgb(167, 13, 13);
} */
.box:visited{
    background-color: green;
}
.box2:hover{
    background-color: #4047a1;
}