/* .login_div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    padding: 10px;
  }
  .row.submit {
    text-align: right;
  } */

  .parent{
    background-color: #35B389;
    border: 1px solid;
    border: none;
    border-radius: 20px;
    height: 539px;
    width: 605px;
    position: absolute;
    top: 547px;
    left: 453px;
    transform: translateY(-50%);;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 6px 4px #2c2c4c;
  
   
  }

  .child{
   background-color: #fff;
    border: 1px solid;
    border: none;
    border-radius: 20px;
    height: 400px;
    width: 292px;
    padding-left: 30px;
    position: absolute;
    top: 255px;
    left: 127px;
    transform: translateY(-50%);
    box-shadow: 5px 5px 6px 4px #2c2c4c;
  }

  h1{
   margin-left: 80px;
  }

  input[type=text],
  select{
    margin-left: 20px;
    box-shadow: 5px 5px 6px -1px #2c2c4c;
  }

  input[type=text1],
  select{
    margin-left: 17px;
    box-shadow: 5px 5px 6px -1px #2c2c4c;
  }

  input[type=password],
  select{
    margin-left: 22px;
    box-shadow: 5px 5px 6px -1px #2c2c4c;
  }

  input[type=password2],
  select{
    margin-left: 18px;
    box-shadow: 5px 5px 6px -1px #2c2c4c;
  }

  input[type=button],
  select{
    color: #ffffff;
    margin-left: 80px;
    background-color: #35B389;
    box-shadow: 5px 5px 6px -1px #2c2c4c;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .span{
    margin-top: 70%;
    margin-right: 150px;
    color: #fff;
    font-size: larger;
  }
  .hr{
    width: 260px;
    margin-left: 0%;
  }

  /* input[type=checkbox],
  select{
    width: 20px;
  } */

  .p1{
    font-size: 14px;
   /* padding-left: 0%; */
   /* padding-top: 0%; */
   margin-left: 14px;
  }

  p{
    font-size: 11px;
    margin-left: 30px;
    margin-top: -13px;
  }
  a{
    color: crimson;
  }