#parent{
    border: 1px solid;
    height: 500px;
    width: 1102px;
    /* align-items: left; */
    /* justify-content: end; */
}

.child{
    /* border: 1px solid; */
    height: 70px;
    width: 1200px;
    display: flex;
    /* justify-content: space-evenly; */

}
.child2{
    /* border: 1px solid; */
    height: 70px;
    width: 1200px;
    display: flex;
    /* justify-content: space-evenly; */
    box-shadow: 4px 17px 38px -20px #2c2c4c

}
 
.img{
    /* border: 1px solid; */
    height: 50px;
    width: 290px;
    margin-top: 8px;
    margin-left: 0px;
    background-image: url(/CSS/Webtech-Project/Image/NB.webp);
    background-size: cover;
}
.space{
    /* border: 1px solid; */
    height: 70px;
    width: 800px; 
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
    /* box-shadow: -5px 5px 15px 1px #2c2c4c; */
    margin-left: 130px;
    
}
.booking{
    border: 1px solid;
    height: 30px;
    width: 180px;
    margin-top: 15px;
    /* margin-bottom: 5px; */
    /* text-align: center; */
    padding-top: 5px;
   
    

    
    
}
.pay{
    border: 1px solid;
    height: 35px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
}
.pay2{
    /* border: 1px solid; */
    height: 29px;
    width: 80px;
    margin-top: 2px;
    border-right:1px solid #000000 ;
  
    
}


/* .owners{
    border: 1px solid;
    height: 30px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #009587;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    text-align: center;

} */
.owners{
    height: 37px;
    width: 190px;
    background-color: #009587;
    color:#fff;
    /* padding: 10px 10px; */
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    font-size: 15px;
}
.signup{
    /* border: 1px solid; */
    height: 30px;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 2px;
    border-right:1px solid #000000 ;
}
.signin{
    /* border: 1px solid; */
    height: 30px;;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 2px;
    border-right:1px solid #000000 ;
}
.menu{
    /* border: 1px solid; */
    height: 30px;
    width: 80px;
    margin-top: 20px;
    /* text-align: center; */
    margin-bottom: 5px;
    padding-top: 2px;
  

}

/* #world{
    border: 1px solid;
    height: 130px;
    width: 1282px;
    
    justify-content: center;
} */
p{
    /* margin-left: 50px; */
    font-size: 26px;
    text-align: center;
}
.text{
    /* border: 1px solid; */
    height: 40px;
    width: 540px;
    text-align: center;
    margin-top: 0px;
    margin-left: 357px;
   
}
.img2{
    /* border: 1px solid;  */
    height: 40px;
    width: 40px;
    background-image: url(/CSS/Webtech-Project/Image/dollar-sign-icons-gold-circle-2184236.jpg);
    background-size: cover;
    border-radius: 36px;
    margin-left: 10px;
  
}
.img3:hover {
    background-color: #E3DBCD;
    color: #ffffff;
  }
  
/* .img3{
    border: 1px solid; 
    border: none;
    height: 40px;
    width: 300px;
    margin-left: 60px;
    background-color: #E3DBCD;
} */

.img3{
    height: 40px;
    width: 240px;
    margin-left: 50px;
    border: none;
    color: rgb(12, 12, 12);
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    background-color: #E3DBCD;
}
.button{
    /* border: 1px solid; */
    height: 40px;
    width: 300px;
    text-align: center;
    margin-top: 1px;
    margin-left: 470px;
    background-color: #E3DBCD;
}

#newbar{
    /* border: 1px solid; */
    height: 50px;
    width: 1282px;
   
}
.link{
    border: 1px solid #8989a4;
    height: 25px;
    width: 100px;
   margin-left: 500px;
    text-align: center;
    text-decoration: none;
    justify-content: space-evenly;
    /* justify-content: center; */
    font-size: 20px;
    color: #01485280;
    background-color: #fff;
    padding: 10px 10px;
}
.link:hover{
    border-bottom: 3px solid red;
    color: red;
}
.link2{
    border: 1px solid #8989a4;;
    height: 25px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    font-size: 20px;
    color: #01485280;
    background-color: #fff;
    padding: 10px 10px;
}
.link2:hover{
    border-bottom: 3px solid red;
    color: red;
}
.link3{
    border: 1px solid #8989a4;
    height: 25px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    font-size: 20px;
    color: #01485280;
    background-color: #fff;
    padding: 10px 10px;
}
.link3:hover{
    border-bottom: 3px solid red;
    color: red;
}
/* #Search{
    border: 1px solid;
    height: 50px;
    width: 1282px;
    display: flex;
    
} */

.location{
    /* border: 1px solid; */
    height: 50px;
    width: 180px;
    margin-left: 158px;
    margin-top: -2px;
   
}
.pune{
    /* border: 1px solid; */
    height: 50px;
    width: 180px;
   
    text-align: center;
    justify-content: space-evenly;
    justify-content: center;
    font-size: 20px;
    color: #00000080;
    background-color: #fff;
    padding: 10px 10px;
    
   
}
.search1{
    /* border: 1px solid; */
    height: 50px;
    width: 580px;
    margin-left: 339px;
    margin-top: -50px;
    font-size: 20px;
    color: #01485280;
    background-color: #fff;
  
      
}
.searchbar{
    height: 50px;
    width: 580px;
     
}
.searchlogo{
    /* border: 1px solid; */
    height: 50px;
    width: 180px;
    margin-left: 920px;
    margin-top: -51px;
   
    text-align: center;
    color: #ffffff;
    background-color: #fd3752;
}
/* #Radio{
    border: 1px solid;
    height: 50px;
    width: 1282px;
    display: flex;
} */
.radio{
    border: 1px solid;
    height: 50px;
    width: 940px;
    margin-left: 158px;
}

.RD{
    margin-top: 15px;
    margin-left: 50px;

}
.Apartment{
    height: 30px;
    width: 160px;
    margin-left: 40px;

}
.Availability{
    height: 30px;
    width: 160px;
    margin-left: 40px;
}

#Are{
    /* border: 1px solid; */
    height: 50px;
    width: 620px;
    margin-left: 320px;
    padding-top: 20px;
}

#post{
    border: 1px solid;
    height: 20px;
    width: 160px;
   

   

}

.btn{
    height: 40px;
    width: 190px;
    background-color: #009587;
    color:#fff;
    /* padding: 10px 10px; */
    padding: 10px 10px 10px 10px;
    margin-left: 520px;
    font-size: 15px;
}