#parent{
    border: 1px solid;
    height: 500px;
    width: 1282px;
    /* align-items: left; */
    /* justify-content: end; */
}

.child{
    border: 1px solid;
    height: 70px;
    width: 1282px;
    display: flex;
    /* justify-content: space-evenly; */

}
.child2{
    border: 1px solid;
    height: 70px;
    width: 800px;
    display: flex;
    /* justify-content: space-evenly; */

}
 
.img{
    border: 1px solid;
    height: 50px;
    width: 280px;
    margin-top: 8px;
    margin-left: 0px;
    background-image: url(/CSS/Webtech-Project/Image/NB.webp);
    background-size: cover;
}
.space{
    border: 1px solid;
    height: 70px;
    width: 1400px; 
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
    
}
.booking{
    border: 1px solid;
    height: 30px;
    width: 180px;
    margin-top: 15px;
    /* margin-bottom: 5px; */
    /* text-align: center; */
    padding-top: 5px;
   
    

    
    
}
.pay{
    border: 1px solid;
    height: 35px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
}
.pay2{
    /* border: 1px solid; */
    height: 29px;
    width: 80px;
    margin-top: 2px;
    border-right:1px solid #000000 ;
  
    
}


.owners{
    border: 1px solid;
    height: 30px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #009587;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    text-align: center;

}
.signup{
    /* border: 1px solid; */
    height: 30px;
    width: 80px;
    margin-top: 18px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 2px;
    border-right:1px solid #000000 ;
}
.signin{
    /* border: 1px solid; */
    height: 30px;;
    width: 80px;
    margin-top: 18px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 2px;
    border-right:1px solid #000000 ;
}
.menu{
    /* border: 1px solid; */
    height: 30px;
    width: 80px;
    margin-top: 18px;
    /* text-align: center; */
    margin-bottom: 5px;
    padding-top: 2px;
  

}

#world{
    border: 1px solid;
    height: 130px;
    width: 1282px;
    /* display: flex; */
    justify-content: center;
}
p{
    /* margin-left: 50px; */
    font-size: 20px;
    text-align: center;
}
.text{
    border: 1px solid;
    height: 60px;
    width: 457px;
    text-align: center;
    margin-top: 0px;   
    margin-left: 400px;
   
}

.button{
    border: 1px solid;
    height: 30px;
    width: 387px;
    text-align: center;
    margin-top: 1px;
    margin-left: 435px;
    background-color: #E3DBCD;
}

#newbar{
    border: 1px solid;
    height: 50px;
    width: 1282px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.link{
    border: 1px solid;
    height: 25px;
    width: 100px;
   
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #01485280;
    background-color: #fff;
    padding: 10px 10px;
}
.link:hover{
    border-bottom: 3px solid red;
}
#Search{
    border: 1px solid;
    height: 50px;
    width: 1282px;
    display: flex;
    
}
.pune{
    height: 50px;
    width: 181px;
    /* margin-left: 40px; */
}
.location{
    border: 1px solid;
    height: 50px;
    width: 180px;
    margin-left: 140px;
}
.search1{
    border: 1px solid;
    height: 50px;
    width: 615px;
}
.searchbar{
    height: 50px;
    width: 615px;
}
.searchlogo{
    border: 1px solid;
    height: 50px;
    width: 180px;
    /* text-align: center; */
    color: #ffffff;
    background-color: #fd3752;
}
#Radio{
    border: 1px solid;
    height: 50px;
    width: 1282px;
    display: flex;
}
.radio{
    border: 1px solid;
    height: 50px;
    width: 980px;
    margin-left: 140px;
}

.RD{
    margin-top: 15px;
    margin-left: 50px;

}
.Apartment{
    height: 30px;
    width: 160px;
    margin-left: 40px;

}
.Availability{
    height: 30px;
    width: 160px;
    margin-left: 40px;
}

#Are{
    height: 50px;
    width: 620px;
    border: 1px solid;
    margin-left: 320px;
}

#post{
    height: 50px;
    width: 181px;
    border: 1px solid;
    margin-left: 520px;
    text-align: center;

}